<!-- errors and infos -->
<f:for each="{validationResults.infos}" as="info" key="infoKey">
	<div class="alert alert-success">
		<f:translate key="{prefix}.{infoKey}" arguments="{info.arguments}" />
	</div>
</f:for>
<f:if condition="{validationResults.errors}">
	<script>
		$(document).ready(function() {
		<f:for each="{validationResults.errors}" as="error">
			$('#{error.id}Label').addClass('error');
		</f:for>
		})
	</script>
	<f:for each="{validationResults.errors}" as="error" key="errorKey">
		<div class="alert alert-danger">
			<f:translate key="{prefix}.{errorKey}" arguments="{error.arguments}"/>
		</div>
	</f:for>
</f:if>