<!DOCTYPE html PUBLIC "-//WC//DTD XHTML . Strict//EN"
	"http://www.w.org/TR/xhtml/DTD/xhtml-strict.dtd">
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true" xmlns="http://www.w.org//xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
</head>
<body>
	<f:layout name="Default" />
	<f:section name="content">
		<script>
			var confirmDoneDownloadQuestion = '<f:translate key="downloadlibrary.form.confirmDoneDownload"/>';
			var confirmRemoveDownloadQuestion = '<f:translate key="downloadlibrary.form.confirmRemoveDownload"/>';

			function repetionOnOff(cb) {
				$('.repetition').prop('disabled', !cb.checked)
			}
		</script>
		<div class="container">
			<div class="row ">
				<div class="col">
					<h2>
						<f:translate key="downloadLibrary.openDownloads" />
					</h2>
				</div>
			</div>
			<f:form action="upload" object="{document}" class="form" name="document" enctype="multipart/form-data">
				<f:form.upload property="uploadedFile" additionalAttributes="{accept:'application/pdf'}" class="form-input" id="uploadedFile" />
				<f:form.submit class="btn btn-primary btn-lg" disabled="{existsErrors}" value="{f:translate(key: 'editProfile.form.submit')}" />
			</f:form>
		</div>
		<f:for each="{docs}" as="d">
		
			<f:link.file file="{d.fileReference.0.originalResource.originalFile}">{d.fileReference.0.originalResource.name}</f:link.file>
		</f:for> 
	</f:section>
</body>
</html>
