<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" 
	data-namespace-typo3-fluid="true"
>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
<f:layout name="Default" /><f:section name="content"><div><f:translate key="LLL:EXT:download_library/Resources/Private/Language/locallang.xlf:download.downloadLibraryInformer.informMail.salutation" arguments="{0:user.name}" /></div>
  
	<div><f:translate key="LLL:EXT:download_library/Resources/Private/Language/locallang.xlf:download.downloadLibraryInformer.informMail.teaser" /></div>
	<div><a href="{url}">{url}</a></div>
	<div><f:translate key="LLL:EXT:download_library/Resources/Private/Language/locallang.xlf:download.downloadLibraryInformer.informMail.footer" /></div> 
	<div><f:translate key="LLL:EXT:download_library/Resources/Private/Language/locallang.xlf:download.downloadLibraryInformer.informMail.regards" /></div>
</f:section></body></html> 
   